{# templates/menu.html.twig #}

<ul>
    <li><a href="{{ path('app_home') }}">Accueil</a></li>
    <li><a href="{{ path('app_contact') }}">Contact</a></li>
    <li><a href="{{ path('app_form_connexion') }}">Connexion</a></li>
</ul>
